@import "constants.scss";

.cancelBtn{
    position: absolute;
    font-size:1.9em;
    margin-left: 3%;
    margin-top:15px;
    color:$color_primary !important;
    background-color:white;
    border-radius: 3px;
    border:none;
}

.changeTitleBtn{
    position: absolute;
    font-size:1.9em;
    margin-left: 1%;
    margin-top:15px;
    color:$color_primary !important;
    background-color:white;
    border-radius: 3px;
    border:none;
}

.submitBtn{
    margin-top:1vh;
    width:15vw;
    font-size:1em;
    font-weight: 900;
    height:5vh;
    color:$color_primary_vl;
    background-color:white;
    transition:0.3s;
    cursor:pointer;
}
.submitBtn:hover{
    color:$color_secondary_vl;
    background-color: $color_primary_vl;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons{
    color:white;
    transition:0.3s;
    cursor:pointer;
}
.material-icons:hover{
    color:$color_secondary !important;
}
.changeTitleBtn:hover{
    color:$color_primary !important;
    background-color:$color_secondary !important;
}
.cancelBtn:hover{
    color:$color_primary !important;
    background-color:$color_secondary !important;
}