@import "constants.scss";

body{
    font-family: 'Roboto', sans-serif;
}
.flow{
    position: absolute;
    width:40vw;
    left:30vw;
}
h1{
    float: left;
    font-size:2em
}
h2{
    float:left;
    padding-left:70%;
    padding-top:3%;
    font-size: 0.875em;
    opacity: 0.6;
    margin-right: 1%;
}
h3{
    float:left;
    font-size: 1.1em;
    white-space: pre-wrap;
}
h4{
    font-size:0.8em;
    border-radius: 15px 15px 15px 0px;
    padding: $default_padding;
    background-color: $color_secondary_vl;
    word-break: break-word;
}
h5{
    font-size:0.8em;
    opacity:0.6;
    float: right;
    margin-right:1%;
}
.objects span{
    display: inline-block;
    width: 100%;
    text-align: center;
    border:1px solid black;
}
.comment-field{
    max-height: 25em;
    display: inline-block;
    overflow: scroll;
    width:100%;
    background-color:rgb(212, 212, 212);
}
.comment-submit{
    width:9%;
    font-size:1.5em;
    border-radius: 50%;
    float: right;
    margin-right:1%;
    margin-top: 0.5%;
}
input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create{
    margin-left:50%;
    transform: translateX(-49%);
    width:40%;
}
input[name=title]{
    float:left;
}
input[name=datepost]{
    float: right;
    margin-top:-2%;
}
textarea{
    white-space: pre;
    font-size: 1.3em;
    height: 50vh;
    width:100%;
    resize: vertical;
}
.create-submit{
    width: 40%;
    background-color: $color_primary;
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:50%;
    transform: translateX(-49%);
}
.create-submit:hover {
    background-color: $color_primary_vl;
}
* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    height: 60px;
    background-color: cyan;
    box-shadow: 0px 2px 8px 0px #333
}
nav p {
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}
nav ul{
    float: left;
}
.login-dropdown{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 5;
}
.show{
    display: block;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
    background-color: cyan;
}
nav ul li a{
    display: block;
    color: #222;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-clip: #fff;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:focus ul{
    display: block;
}
nav ul li ul li{
    width: 180px;
    border-radius: 4px;
}
nav ul li ul li a{
    padding: 8px 14px;
}
nav ul li ul li a:hover{
    background-color: #f3f3f3;
}
